<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Trang chi tiết sản phẩm</title>
  </head>
  <body>
    <header>
      <div>
        <h1><a href="/">IMZ.AI</a></h1>
      </div>
      <div>
        <button onclick="window.location.href = '/products'">Home</button>
        <button onclick="window.location.href = '/products/create'">
          Create
        </button>
      </div>
    </header>
    <main>
      <div id="detailProduct">
        <p id="idProduct" style="display: none;"><%=product.id%></p>
        <h2><%=product.name%></h2>
        <p><%=product.price%></p>
        <p><%=product.category.name%></p>
        <img src="<%=product.image%>" alt="<%=product.name%>" /><br />
        <button
          id="btnUpdate"
          onclick="window.location.href = '/products/create?id=<%=product.id%>'"
        >
          Cập nhật
        </button>
        <button id="btnDelete">Xóa</button>
      </div>
    </main>
  </body>
  <script>
    const id=document.getElementById("idProduct").innerHTML;
    document.getElementById("btnDelete").addEventListener("click",()=>{
      fetch(`http://localhost:3000/products/delete/${id}`,{
      method:"DELETE",
      headers:{
        "Content-type":"application/json;charset=UTF-8"
      }
    })
    .then((res)=>res.json())
    .then((res)=>{
      let {code}=res;
      if(code==200){
        window.location.href="/products";
      }
    })
    })
    
  </script>
</html>
